<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
Key: <%= user.accessToken %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
<% if (user.accounts) { %>
	Accounts:
	<ul>
	<%for (var item in user.accounts){%>
	  <li>Name: <%=user.accounts[item].name%>. ID: <%=user.accounts[item].id%></li>    
	  <%}%>
	</ul>
<% } %>
</p>

<P id="projectList">Projects</P>

<script>



</script>
